{
  "extends": "airbnb/base",
  "rules": {
    "comma-dangle": 0,
    "quotes": [2, "single"], //'prefer-single'
    "no-use-before-define": [2, { "functions": false, "classes": true }] // Prevent cyclic errors
  }
}
